#content{
    display: grid;
    background-color: #FFE3A3;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

header{
    background-color: #E6C67C ;
    grid-row: 1/2;
    grid-column: 1/6;
    height: 20vh;
    border: 5px solid #997f43;
    margin-bottom: 10px;
    
}

article{
    background-color:  #345399;
    padding: 10px;
    grid-row: 2/3;
    grid-column: 1/6;
    height: 60vh;
    border: 5px solid #997f43 ;
    margin-bottom: 10px;
    color: blanchedalmond;
    font-size: 30px;
    padding: 40px;
}

footer{
    background-color: #E6C67C ;
    grid-row: 4/5;
    grid-column: 1/6;
    height: 20vh;
    border: 5px solid #997f43;
}

#city{
    font-size: 25px;
    border: solid rgb(0, 0, 0) 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}

#temperature{
    font-size: 25px;
    border: solid rgb(0, 0, 0) 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}
#temperatureFeels{
    font-size: 25px;
    border: solid rgb(0, 0, 0) 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}
#wind{
    font-size: 25px;
    border: solid rgb(0, 0, 0) 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}
#condition{
    font-size: 15px;
    border: solid rgb(0, 0, 0) 2px;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}

#cities{
    width: 150px;
    font-size: 30px;
    border-radius: 5px;
}